<div>
  <div>
    <div>
      <select [(ngModel)]="idOne">
        <option *ngFor="let c1 of coordinates$ | async" [value]="c1.id">{{ c1.name }}</option>
      </select>
    </div>

    <div>
      <select [(ngModel)]="idTwo">
        <option *ngFor="let c2 of coordinates$ | async" [value]="c2.id">{{ c2.name }}</option>
      </select>
    </div>

    <div>
      <button type="submit" (click)="onCalculate()">Calculate</button>
    </div>
  </div>
  <div>
    <div *ngIf="result > referenceDistance">
      <p>La distance qui sépare ces 2 coordonnées supérieure à {{referenceDistance}} km</p>
      <p>Celle-ci est de {{result}} km</p>
    </div>

    <div *ngIf="result < referenceDistance">
      <p>La distance qui sépare ces 2 coordonnées inférieure à {{referenceDistance}} km</p>
      <p>Celle-ci est de {{result}} km</p>
    </div>
  </div>
</div>
