<div class="calcul">
  <div class="choice">
    <div class="select">
      <label for="firstCoordinates">Choose a first place</label>
      <select id="firstCoordinates" [(ngModel)]="idOne">
        <option *ngFor="let c1 of coordinates$ | async" [value]="c1.id">{{ c1.name }}</option>
      </select>
    </div>

    <div class="select">
      <label for="secondCoordinates">Choose a second place</label>
      <select id="secondCoordinates" [(ngModel)]="idTwo">
        <option *ngFor="let c2 of coordinates$ | async" [value]="c2.id">{{ c2.name }}</option>
      </select>
    </div>

    <div>
      <button type="submit" (click)="onCalculate()">Calculate</button>
    </div>
  </div>
  <div class="resultats">
    <div class="resultat" *ngIf="result > referenceDistance">
      <p>The distance between this 2 coordinates is <span>greater than</span> {{referenceDistance}} km.</p>
      <p>This is <span> {{result}} km.</span></p>
    </div>

    <div class="resultat" *ngIf="result < referenceDistance">
      <p>The distance between this 2 coordinates is <span>less than</span> {{referenceDistance}} km.</p>
      <p>This is <span> {{result}} km.</span></p>
    </div>
  </div>
</div>
